<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
 <typeAliases>
     <typeAlias type="kr.smhrd.vo.EmployeesVO" alias="EmployeesVO"/>
     <typeAlias type="kr.smhrd.vo.PageMaker" alias="PageMaker"/>
     <typeAlias type="kr.smhrd.vo.Criteria" alias="Criteria"/>
     <typeAlias type="kr.smhrd.vo.SearchCriteria" alias="SearchCriteria"/>
 </typeAliases>
</configuration>