<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.smhrd.mybatis.employeesMapper">

 	 <select id="eListpage" resultType="EmployeesVO" parameterType="SearchCriteria">
		select enumber,duty,name,sex,code
			from (select ROWNUM as rnum, e.* 
				from (select * from employees 
					WHERE
					enumber > 0 
					<include refid="search"></include> order by ROWNUM desc)
					 e)
			where rnum BETWEEN #{rowStart} AND #{rowEnd}
	 </select> 

 	 	<select id="epListCount" resultType="int" parameterType="SearchCriteria">
		SELECT COUNT(enumber)
		   FROM employees
		   WHERE enumber > 0
			<include refid="search"></include>	
	</select>
	
 	 <sql id="search">
		<if test="searchType != null">
			<if test="searchType == 't'.toString()">AND duty LIKE '%' || #{keyword} || '%'</if>
			<if test="searchType == 'c'.toString()">AND name LIKE '%' || #{keyword} || '%'</if>
			<if test="searchType == 'w'.toString()">AND sex LIKE '%' || #{keyword} || '%'</if>
		</if>
	</sql>
 	 
	<insert id="employeesInsert" parameterType="EmployeesVO">
		INSERT INTO employees
		VALUES(employees_seq.nextval,#{dept_name},#{name},#{sex},#{code})
	</insert>

	<select id="employeesContent" parameterType="Integer"
		resultType="EmployeesVO">
		SELECT * FROM employees WHERE enumber = #{enumber}
	</select>

	<delete id="employeesDelete" parameterType="Integer">
		DELETE employees
		WHERE enumber=#{enumber}
	</delete>

	<update id="employeesUpdate" parameterType="EmployeesVO">
		UPDATE employees SET
		duty=#{duty} WHERE enumber=#{enumber}
	</update>

	<!-- 데이터 삽입 -->
	<insert id="epInsertExcel" parameterType="EmployeesVO">
		INSERT INTO employees
		VALUES(employees_seq.nextval,#{duty},#{name},#{sex},#{code})
	</insert>
</mapper>