<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.smhrd.mybatis.employeesMapper">
	<select id="employeesList" resultType="EmployeesVO">
		SELECT enumber,dept_name,name,sex,TO_CHAR(entry_date,'yyyy-mm-dd') entry_date FROM employees ORDER BY entry_date DESC
	</select>
	
	<insert id="employeesInsert" parameterType="EmployeesVO">
		INSERT INTO employees VALUES(#{enumber},#{dept_name},#{name},#{sex},#{entry_date},#{code})
	</insert>
	
	<select id="employeesContent" parameterType="Integer" resultType="EmployeesVO">
		SELECT * FROM employees WHERE enumber = #{enumber}
	</select>
	
	<delete id="employeesDelete" parameterType="Integer">
		DELETE employees WHERE enumber=#{enumber}
	</delete>

	<update id="employeesUpdate" parameterType="EmployeesVO" >
	    UPDATE employees SET dept_name=#{dept_name} WHERE enumber=#{enumber}
	</update>
 
</mapper>